In [114]:
import pandas as pd
from sqlalchemy import *#create_engine,Table
import numpy as np
import random
import datetime
from datetime import timedelta

In [121]:
con = create_engine("postgres://qcumacnfmicopw:c700fed529373aa3b54a62168e0914d2a0d1d5b458aa965d4aea319662c6ed97@ec2-174-129-27-158.compute-1.amazonaws.com:5432/d5koeu8hgsrr65")

In [128]:
con.table_names()

['곽동준', 'members', '윤동규', '허만']

In [123]:
tables = con.table_names()

In [129]:
df = pd.read_sql("곽동준",con)
df

  name password 2019-12-04
0  곽동준     1213       ,301

In [118]:
members = pd.read_sql("members",con)
members["name"]

0      최현철
1      석정욱
2      김현숙
3      김연정
4      박연수
5       허만
6      조재현
7      김민선
8      노은주
9      김영석
10     육경훈
11     안서연
12     장소현
13     평복재
14     곽동준
15     김태훈
16     홍기림
17     유수준
18     홍혜란
19     김대진
20     박지혜
21     이윤용
22     김정은
23     배현호
24     황만규
25     안형주
26     김지훈
27     곽승준
28     백민수
29     안기호
      ...
37     차주천
38     김재훈
39     유지혜
40     김효진
41     한가을
42     오석현
43     서인애
44     박민정
45     전상일
46     정현암
47     최강석
48    이민우2
49     박태원
50     김윤성
51     김유진
52     윤용석
53     이민재
54     최승훈
55     조성환
56     오지호
57     강병호
58     곽윤서
59     김준태
60     김태용
61     김태성
62     박명우
63     이하늘
64     구창회
65     배영한
66     윤동규
Name: name, Length: 67, dtype: object

In [130]:
df = pd.DataFrame()
for name in list(members["name"]):
    try:
        apnd = pd.read_sql(name,con)
        df = df.append(apnd)
    except:
        print(f"{name} not found")
df

최현철 not found
석정욱 not found
김현숙 not found
김연정 not found
박연수 not found
김민선 not found
노은주 not found
김영석 not found
육경훈 not found
안서연 not found
장소현 not found
평복재 not found
김태훈 not found
홍기림 not found
유수준 not found
홍혜란 not found
김대진 not found
박지혜 not found
이윤용 not found
김정은 not found
배현호 not found
황만규 not found
안형주 not found
김지훈 not found
곽승준 not found
백민수 not found
안기호 not found
송혁진 not found
임미화 not found
이민우 not found
양에스더 not found
정슬기 not found
권순효 not found
최가영 not found
차주천 not found
김재훈 not found
유지혜 not found
김효진 not found
한가을 not found
오석현 not found
서인애 not found
박민정 not found
전상일 not found
정현암 not found
최강석 not found
이민우2 not found
박태원 not found
김윤성 not found
김유진 not found
윤용석 not found
이민재 not found
최승훈 not found
조성환 not found
오지호 not found
강병호 not found
곽윤서 not found
김준태 not found
김태용 not found
김태성 not found
박명우 not found
이하늘 not found
구창회 not found
배영한 not found

  name password    2019-12-04
0   허만     0823          ,300
0  조재현     0226          ,141
0  곽동준     1213          ,301
0  윤동규     1234  ,123,124,100

In [100]:
ind = pd.read_sql("윤동규",con)
ind

  name password 2019-12-03
0  윤동규     0000       ,123

In [77]:
df = pd.read_sql("members",con)
df

    name  gender  DoB  DoE
0    최현철     NaN  NaN  NaN
1    석정욱     NaN  NaN  NaN
2    김현숙     NaN  NaN  NaN
3    김연정     NaN  NaN  NaN
4    박연수     NaN  NaN  NaN
5     허만     NaN  NaN  NaN
6    조재현     NaN  NaN  NaN
7    김민선     NaN  NaN  NaN
8    노은주     NaN  NaN  NaN
9    김영석     NaN  NaN  NaN
10   육경훈     NaN  NaN  NaN
11   안서연     NaN  NaN  NaN
12   장소현     NaN  NaN  NaN
13   평복재     NaN  NaN  NaN
14   곽동준     NaN  NaN  NaN
15   김태훈     NaN  NaN  NaN
16   홍기림     NaN  NaN  NaN
17   유수준     NaN  NaN  NaN
18   홍혜란     NaN  NaN  NaN
19   김대진     NaN  NaN  NaN
20   박지혜     NaN  NaN  NaN
21   이윤용     NaN  NaN  NaN
22   김정은     NaN  NaN  NaN
23   배현호     NaN  NaN  NaN
24   황만규     NaN  NaN  NaN
25   안형주     NaN  NaN  NaN
26   김지훈     NaN  NaN  NaN
27   곽승준     NaN  NaN  NaN
28   백민수     NaN  NaN  NaN
29   안기호     NaN  NaN  NaN
..   ...     ...  ...  ...
37   차주천     NaN  NaN  NaN
38   김재훈     NaN  NaN  NaN
39   유지혜     NaN  NaN  NaN
40   김효진     NaN  NaN  NaN
41   한가을     NaN  NaN  NaN
42   오석현     NaN  NaN  NaN
43   서인애     NaN  NaN  NaN
44   박민정     NaN  NaN  NaN
45   전상일     NaN  NaN  NaN
46   정현암     NaN  NaN  NaN
47   최강석     NaN  NaN  NaN
48  이민우2     NaN  NaN  NaN
49   박태원     NaN  NaN  NaN
50   김윤성     NaN  NaN  NaN
51   김유진     NaN  NaN  NaN
52   윤용석     NaN  NaN  NaN
53   이민재     NaN  NaN  NaN
54   최승훈     NaN  NaN  NaN
55   조성환     NaN  NaN  NaN
56   오지호     NaN  NaN  NaN
57   강병호     NaN  NaN  NaN
58   곽윤서     NaN  NaN  NaN
59   김준태     NaN  NaN  NaN
60   김태용     NaN  NaN  NaN
61   김태성     NaN  NaN  NaN
62   박명우     NaN  NaN  NaN
63   이하늘     NaN  NaN  NaN
64   구창회     NaN  NaN  NaN
65   배영한     NaN  NaN  NaN
66   윤동규     NaN  NaN  NaN

[67 rows x 4 columns]

In [97]:
name="1윤동규"
if name not in list(df["name"]):
    print("fuck")

fuck

In [50]:
# name = request.form["name"]
# password = request.form["password"]
# scores = request.form["scores"]
name = "윤동규"
scores = "123,124"
scores = str(scores).replace(" ","")
# newpw = request.form["newpw"]
date = datetime.datetime.now() + datetime.timedelta(hours=5)
date = str(date.date())

In [65]:
df = pd.DataFrame()

In [67]:
df["name"] = [name]
try:
    df[date] += [scores]
except:
    df[date] = ""
    df[date]+=[scores]
df

  name      2019-12-03
0  윤동규  123,124123,124

In [50]:
con = create_engine("postgres://qcumacnfmicopw:c700fed529373aa3b54a62168e0914d2a0d1d5b458aa965d4aea319662c6ed97@ec2-174-129-27-158.compute-1.amazonaws.com:5432/d5koeu8hgsrr65")
try:
    regular = pd.read_sql(name,con)
except:
    regular = pd.DataFrame()
    regular["name"] = [name]
    regular[date] = regular[date] + scores

KeyError: '2019-12-03'

In [40]:
dropping = Table("regular",MetaData())

In [41]:
try:
    dropping.drop(con)
except:
    print("none")

none

In [73]:
con.table_names()

[]

In [120]:
meta = MetaData(con)
meta.reflect()
meta.drop_all()